@import compass/utilities/general/clearfix
@import compass/css3/box-sizing
@import compass/css3/background-size
@import compass/css3/transition
@import compass/css3/border-radius

// ==========================================================================
// Breakpoints


$medium: 38.75em

@mixin break-medium
  @media only screen and (min-width: $medium)
    @content

// =================================å=========================================
// Grid & sizes

$gutter: 2em
$gutter-percentage: 5%
$radius: 4px

// ==========================================================================
// Colors
$web-black: #333
$context-red: #ff2c4a

$primary: #fcb24c
$secondary: #f89734
$tertiary: #e87d3d
$quadrary: darken($tertiary, 80%)

$background-color: white
$text-color: $quadrary

// ==========================================================================
// Typography

$font-title: menschmensch_regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$font-read: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$monospace: "source-code-pro", monospace


@import normalize
@import global
@import elements

