<section id="page_about" class="mission">
	<div class="logo-2">
		<span class="visuallyhidden">Cat Eye Ties</span>
		<img src="img/cateyeties-logo-black.png" alt="cateyeties logo"/>
	</div>
	<div class="text">
	<p>We love objects that have been well made and show a sense of labor and attention to detail. It reveals the maker, the process, and the time spent. Our ties are handcrafted and designed to fit the southern mentality of everyday dressing up mixed with the casualness of small town New England. </p>

	<p>Cat Eye Ties uses fabrics that are 100 percent natural, made from wool, cotton, linen and silk and are unique in texture, weave, and color. Our “classic” ties are fashioned into a mid century style of 2.75” at the widest point and cut on the bias. The lining, keeper loop, and finished seam are all sewn by hand. We have also developed contemporary patterns for the colonel tie, the bow, and cross over tie.</p>

	<p>For weddings, wholesale and custom orders please contact us at <a class="together" href="mailto:desk@cateyeties.com">desk (at) cateyeties (dot) com</a></p>

	<p>Cat Eye Ties consists of <a href="http://www.jessievogel.com">Jessica Vogel</a> and <a href="http://b.illbrown.com" target="_blank">Bill Brown</a>. We work out of our studio on Magazine Street in New Orleans, LA. </p>
</div><!-- text -->
</section>
