        <section id="page_contact" class="contact">
            <h1>Say Hello</h1>
            <p>Email Jessie at <a href="mailto:desk@cateyeties.com" target="_blank">desk (at) cateyeties (dot) com</a></p>

            <!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup" class="mailchimp-form">
				<form action="http://illbrown.us6.list-manage1.com/subscribe/post?u=7fca386e2ba29babe2b1ad0b3&amp;id=ef40e00ffc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<label for="mce-EMAIL">Subscribe to our newsletter: </label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
				</form>
			</div>
			<div class="facebook">
				<p>We're on facebook too:</p>
				<a class="button" href="https://www.facebook.com/CatEyeTies">facebook</a>
			</div>

<!--End mc_embed_signup-->
        </section>