<section class="featured">
    <a class="logo" href="{{ site.url }}"><span class="visuallyhidden">Cat Eye Ties</span><img src="img/cateyeties-logo-black.png" alt="cateyeties logo"/></a>
    <span id="arrow-right" class="arrow right">></span>
    <span id="arrow-left" class="arrow left"><</span>
    <ul class="no-list featured-ties">
        <li class="tie-1 active">
            <div class="tie-info">
                <h1>Sand Colonel Necktie</h1>
                <span class="button price">$30</span>
                <a class="button buy" href="https://www.etsy.com/listing/123358102/sand-colonel-necktie">Buy It</a>
            </div>
        </li>
        <li class="tie-2">
            <div class="tie-info">
                <h1>Dark Grey Tweed Nectie</h1>
                <span class="button price">$80</span>
                <a class="button buy" href="https://www.etsy.com/listing/123354624/dark-grey-tweed-nectie">Buy It</a>
            </div>
        </li>   
        <li class="tie-3">
            <div class="tie-info">
                <h1>Coral Silk Matka Necktie</h1>
                <span class="button price">$80</span>
                <a class="button buy" href="https://www.etsy.com/listing/123354624/dark-grey-tweed-nectie">Buy It</a>
            </div>
        </li>          
    </ul>
</section>
