        <div id="page_video" class="video-section">
            <p>Learn how to tie a bowtie and a colonel, or kentucky, tie.</p>
            <div class="videos">
                <div class="fluidvideowrapper">
                    <iframe src="http://player.vimeo.com/video/60873866?title=0&amp;byline=0&amp;portrait=0&amp;color=ff2c4a" width="500" height="282" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>